# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambientes virtuais (qualquer nível)
.venv/
venv/

# Variáveis de ambiente
.env
.env.*

# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
build/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
